<a [routerLink]="['/home']" class="btn-back" >Back Home</a>
<div class="ficha">  
  <div class="sesiones">
    <h3>{{ eventSessions().event.title }}</h3>
    <ul>
      @for (session of eventSessions().sessions; track $index) {
      <li>
        <span
          >Fecha: {{ session.date | date : "dd/MM/yyyy" }}, Disponibilidad:
          {{ session.availability }}</span
        >
        <div class="input-wrapper">
          <button (click)="decrease(session.date)">-</button>
          <input
            id="input_{{ $index }}"
            type="number"
            value="{{ session.quantity ?? 0 }}"
            min="0"
            [max]="session.availability"
            class="no-spinner"
            readonly
          />
          <button (click)="increase(session.date)">+</button>
        </div>
      </li>
      } @empty {
      <li>EVENT INFO NOT FOUND.</li>
      }
    </ul>
  </div>
  <div class="carrito">
    <ul>
      @for (event of eventsCart(); track $index) {
      <li class="cart_events_list">
        <h3>{{ event.event.title }}</h3>
        <ul>
          @for (session of event.sessions; track $index) { @if((session.quantity
          ?? 0) > 0) {
          <li class="cart_sessions_list">
            <span>{{ session.date | date : "dd/MM/yyyy" }}</span>
            <span
              >x {{ session.quantity ?? 0 }}
              <button class="btn-delete" (click)="deleteSession(session.date)">
                <img src="images/trash.png" alt="trash Image" /></button
            ></span>
          </li>
          } } @empty {
          <li>NO SESSIONS ARE SELECTED.</li>
          }
        </ul>
      </li>
      } @empty {
      <li>THE CART IS EMPTY.</li>
      }
    </ul>
  </div>
</div>
