.ficha {
  display: flex;
  gap: 20px;
  max-width: 1000px;
  margin-inline: auto;
  margin-block: 3rem;
  text-align: center;
  .sesiones {
    border: 1px solid #000;
    li {
      list-style: none;
      margin-block: 0.5rem;
    }
  }
  .sesiones,
  .carrito {
    width: 500px;
    padding: 1rem;
    margin-inline: auto;
  }
}

@media (max-width: 768px) {
  .ficha {
    flex-direction: column;
  }
}
