<div class="ficha">
  <div class="sesiones">
    <ul>
      @for (session of eventCart().sessions; track $index) {
      <li>
        <span
          >Fecha: {{ session.date | date : "dd/MM/yyyy" }}, Disponibilidad:
          {{ session.availability }}</span
        >
        <div class="input-wrapper">
          <button (click)="decrease(session.date)">-</button>
          <input
            id="input_{{ $index }}"
            type="number"
            value="{{ session.quantity ?? 0 }}"
            min="0"
            [max]="session.availability"
            class="no-spinner"
            readonly
          />
          <button (click)="increase(session.date)">+</button>
        </div>
      </li>
      } @empty {
      <li>EVENT INFO NOT FOUND.</li>
      }
    </ul>
  </div>
  <div class="carrito">sss</div>
</div>
